<div class="list-group-item flex-column align-items-start">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">{{ city.name }}</h5>
    <small>{{ roundTemp }} °C</small>
  </div>
  <p class="mb-1">{{ city.region }}</p>
  <button type="button" (click)="onDelete()" class="btn btn-danger btn-sm">Удалить</button>
  <button type="button" (click)="onUpdateWeather()" class="btn btn-success btn-sm">Обновить</button>
</div>
