<div class="form-group">
  <label for="city-name">Город</label>
  <input [(ngModel)]="enterName" type="text" class="form-control" id="city-name" placeholder="Город">
</div>
<div class="btn-group">
  <button type="button" (click)="onAdd()" class="btn btn-primary">Добавить город</button>
</div>
